
{% extends 'layout.html' %}
{% block title %}Session{% endblock title %}

{% block content %}
    
  <h3 id="first-text" style='color: #ccc;font-size: 30px;'>No message yet..</h3>
  <div id="message-holder"></div>

  <form action="" method="post">
    <input type="text" id="username" placeholder="User Name"/>
    <input type="text" id="message" placeholder="Messages"/>
    <input type="submit" id="buton-send-messege" onclick="sendMessage();"/>
  </form>

  <!--SocketJS JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename = 'js/session.js') }}"></script>

{% endblock content %}

